# conda create -n mia python=3.11
# conda activate mia

--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.1.2
torchvision==0.16.2

einops
timm
-f https://data.pyg.org/whl/torch-2.1.2+cu121.html
torch-cluster
PyMCubes

bpy==4.3.0
fake-bpy-module
gradio>=5.25.0
ipykernel
ipympl
matplotlib
numpy~=1.26.4
plyfile
potpourri3d
shapely
spaces
tensorboard~=2.11.2
tqdm
trimesh
# git+https://github.com/facebookresearch/pytorch3d.git@stable
--extra-index-url https://miropsota.github.io/torch_packages_builder
pytorch3d==0.7.7+pt2.1.2cu121
